.env
vault-sync-key.json
perlite-gcp/perlite-cloudrun-2/service-account.json
perlite-gcp/perlite-cloudrun-2/service-account.json
/Users/gokulnathanb/Projects/mine/perlite/perlite-gcp/perlite-cloudrun-2/service-account.json

vault-sync-key.json/
vault-sync-key.json
.vault-sync-key.json
./vault-sync-key.json

cloudrun-2
perlite-cloudrun